<html>
<body bgcolor = "silver">
<h1 class = "np">
	<font size = "45">
	Non Veg Starters
</font>
</h1>
<hr color = "black">
<img src = "https://i0.wp.com/grehlakshmi.com/wp-content/uploads/2021/06/mm-1.jpg" height = "50%" width = "50%">
<p> Chicken Kabab <br>
	 Price : Rs.250/-
	<br> 
	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
<hr>
<img src = "https://drop.ndtv.com/albums/COOKS/5-non-veg-south_637945968901459445/637945968919611327.jpeg" height = "50%" width = "50%">
<p> Chicken Manchuria <br>
	 Price : Rs.350/-
	<br>
	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
 <hr>
<img src = "https://www.giggsmeat.com/wp-content/uploads/2020/10/c7eAOTguRx.jpg" height = "50%" width = "50%">
<p> Chicken 65 <br>
	 Price : Rs.300/-
	<br> 
	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
<hr>
<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</div>


</body>
</html>
