<html>
<body bgcolor = "silver">
<h1>Soups</h1>
<img src = "https://www.eatthis.com/wp-content/uploads/sites/4/2022/01/hot-and-sour-soup.jpg?quality=82&strip=all" height = "50%" width = "50%">
<div class="rating">
    <p>Veg Soup<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://www.eatwell101.com/wp-content/uploads/2020/02/chicken-soup-recipe-3.jpg" height = "50%" width = "50%">
<div class="rating">
    <p>Creamy Chicken Soup with Pasta and Spinach <br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/chicken-soup-recipes-ultimate-noodle-1657827445.jpg?crop=1.00xw:0.803xh;0,0.119xh&resize=640:*" height = "50%" width = "50%">
<div class="rating">
    <p>Cicken Soup<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</div>
</body>
</html>
