<html>
<body bgcolor = "silver">
<h1>Veg starters</h1>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqz08VbfQQ8xNL2vXml4_P_VcY5QxjK6m57oKhbb_TApCyRICk185bxOm_s6HV39EifY4&usqp=CAU" height = "50%" width = "50%">
<div class="rating">
    <p>veg Manchurian<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhmCOLQx3Qro9ejR_eHiZNA27AKPeskS_vNw&usqp=CAU" height = "50%" width = "50%">
<div class="rating">
    <p>Mixed Veg Lollipop<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_Iu1hr0iNo1VMj7oWfQb-Phpz-WAKpPvHlA&usqp=CAU" height = "50%" width = "50%">
<div class="rating">
    <p>Pani puri<br>
     Price : Rs.50/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</div>
</body>
</html>
