<html>
<body bgcolor = "silver">
<h1>Fish and Sea Food</h1>
<img src = "https://www.recipetineats.com/wp-content/uploads/2017/05/Garlic-Prawns_6.jpg" height = "50%" width = "50%">
<div class="rating">
    <p> Garlic prawns<br>
     Price : Rs.890/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://www.chewoutloud.com/wp-content/uploads/2017/06/easy-lemon-butter-fish-0.jpg" height = "50%" width = "50%">
<div class="rating">
    <p> Lemon Butter Fish<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVWKHa2Vf9FeH70gsR-6k6v5SSnrPdX-N3NA&usqp=CAU" height = "50%" width = "50%">
<div class="rating">
    <p>Grilled Fish<br>
     Price : Rs.800/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</div>
</body>
</html>
