<html>
<body bgcolor="silver">
<h1>Main Course</h1>
<img src = "https://c.ndtvimg.com/2022-04/fq5cs53_biryani-doubletree-by-hilton_625x300_12_April_22.jpg" height = "50%" width = "50%">
<div class="rating">
    <p>Chicken Biryani<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTajz7dRbTo3giRInUr6Xvw9BaDAtK3MK6GA&usqp=CAU" height = "50%" width = "50%">
<div class="rating">
    <p>Murg Biryani<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://media-cdn.tripadvisor.com/media/photo-s/0c/f3/77/2c/pot-biryani-at-kuchipudi.jpg" height = "50%" width = "50%">
<div class="rating">
    <p>Pot Biryani<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</body>
</html>
