<html>
<body bgcolor = "silver">
<h1>Noodles</h1>
<img src = "https://www.indianhealthyrecipes.com/wp-content/uploads/2022/02/veg-noodles-vegetable-noodles-recipe.jpg" height = "50%" width = "50%">
<div class="rating">
    <p>  <br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://thewoksoflife.com/wp-content/uploads/2020/04/homemade-chinese-egg-noodles-19-e1609271249794.jpg" height = "50%" width = "50%">
<div class="rating">
    <p>Egg Noodles<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSljfV0i5g-le7uBY41gQK6puQ-t3XVQFMgw&usqp=CAU" height = "50%" width = "50%">
<div class="rating">
    <p>Hakka Noodles<br>
     Price : Rs.200/-
    <br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>

<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</body>
</html>
