<html>
<body bgcolor="silver">
	<h1>Salads</h1>
	<img src = "https://images.lifestyleasia.com/wp-content/uploads/sites/7/2022/03/07110850/salad.jpg" height = "50%" width = "50%">
	<div class="rating">
	<p> Veg Salad <br>
	 Price : Rs.250/-
	<br>
	
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>  <hr>
	<img src = "https://www.inspiredtaste.net/wp-content/uploads/2018/12/Easy-Pasta-Salad-Recipe-2-1200.jpg" height = "50%" width = "50%">
	<div class="rating">
	<p> Pasta Salad <br>
	 Price : Rs.250/-
	<br> 
	<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>  <hr>
	<img src = "https://assets.bonappetit.com/photos/6282c9214844aec731451f28/3:2/w_4073,h_2715,c_limit/0622-Summer-Goddess-Chicken-Salad.jpg" height = "50%" width = "50%">
	<div class="rating">

	<div class="rating">
	<p> Chicken Salad <br> 
	<div class = "boxed"> Price : Rs.250/- </div>
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>

	<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</body>
</html>
