<html>
<body bgcolor = "silver">
	<h1>Desserts</h1>
	<hr color = "black">
	<img src = "https://preppykitchen.com/wp-content/uploads/2022/03/Chocolate-Lava-Cake-Recipe.jpg" height = "50%" width = "50%">
	<div class="rating">
	<p> Chocolate Molten Cake <br>
	 Price : Rs.200/-
	<br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
	<img src = "https://img.freepik.com/premium-photo/row-colorful-pastel-french-macaroons-macarons-white-pink-background_165623-2828.jpg?w=2000" height = "50%" width = "50%">
<div class="rating">
	<p> Macarons <br>
	 Price : Rs.180/-
	<br> 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
	<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzsGCo1KdxU3rf1BjLknp4Cvb698uBxFnxRQ&usqp=CAU" height = "50%" width = "50%">
	<div class="rating">
	<p> Taco Bell <br>
	 Price : Rs.350/-
	<br> 
	
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div> <hr>
	<div class="Back">
  <button name="BackBtn" type="button" style="font-size: 16px; float: right; border-radius: 8px;  background-color: #3869d4;" onclick="history.back()">back</button>
</body>
</html>
