<html>
<head>
	<title>SIGN IN </title>
</head>
<body style = "background-color: lightblue;">
	<img src = "https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-logo-img.png" height = "100" weight = "100">
	<h1 align="center"> WELCOME TO LOGIN PAGE</h1>
	<form action="/signinsubmit" method="GET" align="center">
		E-mail   : <input type = "text" name = "email"> <br> <br>
		Password : <input type = "password" name = "password"> <br> <br>
		<input type="submit"> <br> <br> <br> <br>
	</form>
	<p align = "center"><img src="https://img.freepik.com/premium-vector/hand-drawn-lettering-design-with-food-quotes_8596-255.jpg?w=2000" height="200" width="200" align = "center"> <br><br><br>
	<strong align="center">GET DELICIOUS FOOD ANYTIME</strong> <br> <br> <br> <br>
</p>
	<hr>
	<div style="width: 50%; float:right">
		<p align="right">COPYRIGHT © <b><i style="color:blue">FoodMunch</i></b></p>
	</div>
</body>
</html>